# Belajar Python

#Basic Calculation#

In [17]:
3 + 5

8

In [15]:
type(8)

int

In [5]:
# hasil pembagian berikut merupakan type data float (koma)
10/3

3.3333333333333335

In [7]:
type(3.33333)

float

In [6]:
7*9

63

In [8]:
# Contoh modulo
10%4

2

In [9]:
# Powers atau Pangkat
7**2

49

Exercise 1
1. Berapa luas lingkaran dengan jari-jari 9 meter (Luas Lingkaran = π.r.r).
2. Berapa perkiraan volume bumi jika jari jari bumi 6371 km. Volume bola = 4/3.π.r.r.r

In [11]:
#Pertanyaan 1
22/7 * (9**2)

254.57142857142856

In [14]:
#Pertanyaan 2
4/3 * 3.14 * 6371**3

1082657777102.0533



#Belajar menggunakan variable#

In [1]:
a = 5
b = 7

In [2]:
a + b

12

Exercise 2
Ubah kedalam bentuk Fahrenheit jika diketahui temperature = 30 derajat celcius, gunakan menggunakan variable.
diketahui F = 9/5C + 32

In [3]:
temperature = 30 #dalam derahat celcius

In [4]:
F = 9/5 * temperature + 32
print(F)

86.0

aturan
1. Nama dari variable tidak boleh ada spasi, bisa diakali dengan garis  bawah (_)
2. Awalan nama variable tidak boleh angka
3. Reassigning a variable bisa dilakukan dengan cara mengetikan ulang isi dari variable yang akan diganti isinya. Perlu jadi catatan dalam penamaan variable.

#String#

In [5]:
'Komitmen'

'Komitmen'

In [6]:
print('Komitmen')

Komitmen

In [7]:
"Jum'at"

"Jum'at"

#Indexing#

In [8]:
k = 'komitmen'

Catatan indexing di dalam python dimulai dari 0

In [9]:
k[0]

'k'

In [10]:
k[-1]

'n'

In [11]:
k[-2]

'e'

#slicing#

In [12]:
k

'komitmen'

In [13]:
#gunakan : untuk mengoperasikan slicing
k[0:2]  #maksudnya adalah mengambil dua huruf pertama

'ko'

In [15]:
k[2:5]  #maksudnya adalah mengambil huruf 5 huruf pertama namun dimulai dari posisi ke dua sehingga di dapatkan 3 huruf saja

'mit'

In [17]:
k[-2:] #maksudnya mengambil 2 huruf terakhir

'en'

In [18]:
k[1:6:2] #untuk angka 2 di akhir menunjukan bahwa huruf yang diambil adalah diloncat 1 dari huruf yang diinginkan

'oim'

In [19]:
k[1:6]

'omitm'

#Concatenating String# menggabungkan

In [20]:
print('komit' + 'men')

komitmen

In [21]:
print('komit', 'men')

komit men

Exercixe 3
gunakan indexing atau slicing jika k = komitmen menjadi
1. i
2. omi
3. tmen
4. kmte

In [23]:
k

'komitmen'

In [24]:
#1
k[3]

'i'

In [26]:
k[1:4]

'omi'

In [27]:
k[-4:]

'tmen'

In [28]:
k[0:8:2]

'kmte'

In [29]:
k[::2]

'kmte'

#List#

In [30]:
new_list = [1,2,3,4,5]
new_list

[1, 2, 3, 4, 5]

In [32]:
#bisa slising juga
new_list[0:2]

[1, 2]

In [34]:
#membuat list bisa digabung dengan type objek yang lain : float, integer, dll
combine_list = ['AAA', 8, 17.5, 'x']
combine_list

['AAA', 8, 17.5, 'x']

In [35]:
#bisa juga digabungkan antara list yang pertama dengan yang kedua.
new_list + combine_list

[1, 2, 3, 4, 5, 'AAA', 8, 17.5, 'x']

In [36]:
#bisa juga membuat list dalam list 
matrix = [[1,2,3],[4,5,6],[7,8,9]]
matrix

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [37]:
#indexing dalam matrix di python selalu mendahulukan baris kemudian kolom
matrix[2]

[7, 8, 9]

In [38]:
matrix[0][1] #bracket pertama berarti baris pertama sedangkan bracket ke 2 adalah kolom ke 2

2

In [39]:
#bisa dilakukan juga assign value baru kedalam matrix, contoh ganti baris ke 1 kolom 2 menjadi 25
matrix[0][1] = 25
matrix

[[1, 25, 3], [4, 5, 6], [7, 8, 9]]

#Booleans# yaitu True atau False

In [41]:
5 > 6

False

In [42]:
6 == 6

True

In [43]:
6.2 == 6 #'==' notasi ini dimaksudkan untuk sama dengan sedangkan '=' untuk memasukan nilai ke suatu variable

False

# Quick Introduction to Looping

#For Loop# cara kerjanya memanggil satu satu dari list yang kita miliki

In [44]:
names = ['Rangga', 'Dimas', 'Imam']

In [45]:
for name in names:
    print(name)

Rangga
Dimas
Imam

Exercise 4
Buatlah list buah-buahan yang disukai dan print menggunakan for loop

In [51]:
fruits = ['Mangga', 'Alpukat', 'Kelapa']

In [52]:
for i in fruits:
    print(i)

Mangga
Alpukat
Kelapa

#IF Statement#

In [53]:
numbers = [1,2,3,4,5,6,7,8]

In [54]:
for number in numbers:
    if number < 5:
        print(number)

1
2
3
4

In [55]:
#memakai operator dan '&' kondisi yang dibuat harus benar sehingga dapat dieksekusi
for number in numbers:
    if (number < 6) & (number >= 2):
        print(number)

2
3
4
5

In [56]:
for number in numbers:
    if number == 3:
        print(number)

3

In [58]:
for number in numbers:
    if number != 3:
        print(number)

1
2
4
5
6
7
8

In [59]:
#memakai operator atau '|' hanya akan mengeksekusi kondisi statement yang benar saja
for number in numbers:
    if (number == 3) | (number == 5):
        print(number)

3
5

In [60]:
names = ['Rangga', 'Dimas', 'Imam']

for name in names:
    if name == 'Imam':
        print('Koordinator Trucking')

Koordinator Trucking

#elif statement#

In [62]:
for name in names:
    if name == 'Imam':
        print(name + ': Koordinator Trucking')
    elif name == 'Rangga':
        print(name + ': Koordinator Finance')

Rangga: Koordinator Finance
Imam: Koordinator Trucking

#else statement#

In [63]:
for name in names:
    if name == 'Imam':
        print(name + ': Koordinator Trucking')
    else:
        print(name + ': Bukan Koordinator Trucking')

Rangga: Bukan Koordinator Trucking
Dimas: Bukan Koordinator Trucking
Imam: Koordinator Trucking

Exercise 5
1. Cobalah print hanya 3 dan 7 dari List number = [1,2,3,4,5,6,7,8] dengan operator 'or'
2. Print setiap number pada list numbers. Tapi jika number == 3, print 'SAN', jika number == 5, print 'GO', jika number 7, print 'NANA'

In [64]:
numbers

[1, 2, 3, 4, 5, 6, 7, 8]

In [66]:
for number in numbers:
    if (number == 3) | (number == 7):
        print(number)

3
7

In [67]:
for number in numbers:
    if number == 3:
        print('SAN')
    elif number == 5:
        print('GO')
    elif number == 7:
        print('NANA')
    else:
        print(number)

1
2
SAN
4
GO
6
NANA
8